<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: transparent;">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="https://linkedin.com/in/edrik-chong" target="_blank" class="text-white">
                <img src="static/linkedin.svg">
              </a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="https://github.com/edrikreyes/task-manager" target="_blank" class="text-white">
                <img src="static/github.svg">
              </a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href=" mailto:workflow-contact.retype569@passinbox.com?subject=Workflow%20inquiry.&body=%0D%0A%0D%0A " class="text-white">
                <img src="static/mail.svg">
              </a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="lead fs-6">
              This project includes user authentication, utilizing Flask-Login for sessions and password hashing for security. I created an intuitive user interface using HTML and CSS, enhanced by Bootstrap, and established seamless database interactions with SQLAlchemy and MySQL. The application allows users to manage tasks, including prioritization, and offers straightforward error handling.</p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      <p style="lead">Designed and built by Edrik.</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>