<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body style=" background-color: BlanchedAlmond;">
    <div>
        {% include 'nav.html' %}
    </div>

    <div style="margin-left: 50px; margin-bottom: 50px;">
        <h1 class="display-1">
            Welcome to the Task Manager v1
        </h1>
    </div>

    <div style="margin-left: 50px; margin-top: 10px;">
        <p class="lead"><strong>
            Here you can add your everyday tasks to stay organized.
        </strong></p>
        <p class="lead">
            Log in to keep track of all your due dates:
        </p>
        <p>
            1. Ranked by priority
        </p>
        <p><del>
            2. all in one place.
        </del></p>
    </div>
</body>
</html>