<div style="margin-left: 50px; margin-bottom: 50px;">
        <h1 class="display-1">
            Welcome to the Task Manager v1
        </h1>
    </div>

    <div style="margin-left: 50px; margin-top: 10px;">
        <p class="lead"><strong>
            Here you can add your everyday tasks to stay organized.
        </strong></p>
        <p class="lead">
            Log in to keep track of all your due dates:
        </p>
        <p><del>
            1. Ranked by priority
        </del></p>
        <p>
            2. all in one place.
        </p>
    </div>