<div style="margin-left: 50px; margin-bottom: 50px;">
    <div style="margin-right:50px;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages%}
        <p class="alert alert-warning alert-dismissible fade show" role="alert">
           {{msg}}
        </p>
            {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
        <h1 class="display-3" style="color: oldlace;">
            Welcome to Workflow.
        </h1>
    </div>

    <div style="margin-left: 50px; margin-top: 10px;">
        <p class="lead" style="color: oldlace;"><strong>
            Here you can add your everyday tasks to stay organized.
        </strong></p>
        <p class="lead" style="color: oldlace;">
            Log in to keep track of all your due dates:
        </p>
        <p style="color: oldlace;"><del>
            1. Ranked by priority
        </del></p>
        <p style="color: oldlace;">
            2. all in one place.
        </p>
    </div>